/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  src: url('https://fonts.googleapis.com/css?family=Inter');
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/* body settings */
body {
  background: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex: 1 1 auto;
}

.menu-button {
  border: 3px solid black;
  background: white;
  width: 24px;
}

#logo-placeholder.active {
  opacity: 0;
}

.headline,
.works {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-weight: 700;
  font-size: 27px;
}

.works-cards,
.about-me-item-list {
  display: grid;
  align-content: center;
  grid-column: 1 / 3;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  margin: 24px 24px 0;
}

.headline#headline-intro {
  background: url('../assets/images/header-illsutration-mobile.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.headline h2.green {
  color: #36b37f;
}

.headline-greeting {
  margin-top: 80px;
}

#supporting-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin: 60px 24px;
  text-align: center;
  color: #172b4d;
  animation: typing 2.5s steps(50, end) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 85%;
  }
}

#social-media-icons ul {
  display: flex;
}

#collapse-action-button {
  background: url('../assets/images/disabled.png') no-repeat 0 center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
  margin: 30px 0;
}

#project-detail-id-value {
  visibility: hidden;
}

.menu-button-container {
  cursor: pointer;
}

.menu.active {
  left: 0;
}

#indicator {
  background: url('../assets/images/indicator.png') no-repeat 0 center;
  width: 40px;
  height: 40px;
  margin: 22px auto;
}

.project-title {
  font-weight: 600;
  font-size: 24px;
  margin: 12px;
}

.project-tags-list,
.social-media-icons-list,
.about-me-tags-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.social-media-icons-list {
  gap: 20px;
}

button {
  cursor: pointer;
}

button:hover {
  transform: scale(1.06);
}

#headline-intro .green {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.card button,
#project-detail-id .tag-button {
  background: #ebebf0;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  border-color: transparent;
  letter-spacing: 0.03em;
  height: 32px;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#project-detail-id ul {
  display: flex;
  gap: 8px;
}

.project-tags {
  display: flex;
}

.project-detail-bottom-goup-mobile {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 12px;
  align-items: stretch;
  flex: 1 1 auto;
}

.project-detail-bottom-goup-mobile .detail-button {
  width: 100%;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.project-details-container img {
  width: 100%;
  height: auto;
}

.project-detail-bottom-goup-mobile .detail-button img {
  height: 16px;
  width: 16px;
  margin-left: 8px;
}

.card {
  display: flex;
  flex-direction: column;
  background-image: url('../assets/images/img-plaholder.png');
  background-size: cover;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid #d0d9d4;
  background-color: #fff;
}

.green-button,
.card .green-button {
  background: #36b37f;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  height: 48px;
}

.green-button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.green-button:focus {
  background: #008552;
}

.card-content {
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 100%;
}

#recent-works .detail-button {
  margin: 29px auto 24px;
}

#resume-button {
  margin: 24px auto 36px;
}

.card header {
  height: 180px;
  border: #42526e;
  background: transparent;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.about-me-intro {
  background-image: url('../assets/images/aboutme-illsutration-mobile.png');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 88px;
}

#about-me .primary-header {
  margin: 68px auto 24px;
  font-weight: 700;
  font-size: 40px;
}

#about-me-title {
  font-weight: 400;
  font-size: 20px;
  color: #42526e;
  margin: 40px auto;
}

.headline p#about-me-paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: auto 12px;
}

.headline .about-me-tags-list button {
  background: #fff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
  border-color: transparent;
  letter-spacing: 0.03em;
  padding: 12px;
  color: #36b37e;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.about-me-tags-list {
  margin: 24px 28px 72px;
}

.about-me-languages {
  color: #000;
}

.about-me-items-image {
  margin: 40px auto 24px;
}

.about-me-item {
  background-image: url('../assets/images/img-plaholder.png');
  background-size: cover;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.menu {
  position: fixed;
  left: -100%;
  text-justify: left;
  padding-left: 30px;
  top: 60px;
  gap: 60px;
  z-index: 2;
  display: flex;
  mix-blend-mode: normal;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  flex-direction: column;
  background: white;
  width: 100%;
  height: 80%;
  text-align: left;
  transition: 0.4s;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  border: 2px solid white;
  border-radius: 30px;
  overflow: auto;
}

#menu-toggle {
  display: none;
}

.nav li {
  list-style: none;
}

.nav li a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.toolbar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;

  /* margin: 22px 10px 20px; */
  gap: 16px;
  font-weight: 600;
  font-size: 20px;
  flex: 1 1 auto;
  background: white;
}

header .sub-toolbar {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cancel-icon {
  display: none;
}

.cancel-icon.active {
  display: block;
  visibility: visible;
}

.menu-icon.active {
  display: none;
  visibility: hidden;
  margin-left: 24px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px 24px 24px;
  padding: auto 136px;
}

#contact-form #error-message {
  color: red;
  font-size: 24px;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
}

.contact-form .field {
  width: 100%;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  height: 48px;
  padding: 15px 16px;
  font-weight: 400;
  font-size: 15px;
}

.contact-form .error {
  width: 100%;
  background: #fff;
  border: 1px solid red;
  border-radius: 4px;
  height: 48px;
  padding: 15px 16px;
  font-weight: 400;
  font-size: 15px;
}

.contact-form .field:hover {
  padding: 15px 36px;
}

.contact-form button#contact-submit {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.contact-form textarea#message {
  border: 1px solid #60c095;
  height: 100%;
}

#contact-header-message {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 0 auto 58px;
}

#contacts-social-media-icons {
  margin: 44px auto 17px;
}

#footer-image {
  height: 100%;
  width: 100%;
  margin: 320px auto 8px;
}

#first-last-name {
  display: none;
}

#desktop-footer-image {
  display: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#my-email {
  align-self: center;
}

#project-detail-id {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 0; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  flex: 1 1 auto;
}

#project-detail-id.active {
  visibility: visible;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  margin: auto;
}

#project-detail-id h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

#project-detail-id p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.project-details-container {
  display: flex;
  flex-direction: column;
  background: white;
  width: auto;
  height: auto;
  margin: 16px;
  padding: 16px;
  gap: 20px;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  flex: 1 1 auto;
}

.project-detail-bottom-goup-desktop {
  display: none;
}

.project-detail-headline {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.icon {
  background-image: url('../assets/images/see-live-icon.png');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  color: red;
}

.project-details-header {
  width: 100%;
  display: block;
}

.project-details-container .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.project-details-container .close:hover,
.project-details-container .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* For validation */

/* Big screens */
@media (min-width: 768px) {
  .nav {
    visibility: visible;
    display: initial;
    z-index: 2;
    position: fixed;
    margin: 30px auto;
  }

  .menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    top: 0;
    left: 0;
    height: 60px;
    background: transparent;
    box-shadow: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    border: none;
    border-radius: 0;
  }

  #logo-placeholder,
  .menu-button-container {
    display: none;
  }

  .toolbar {
    display: flex;
    flex-direction: row;
    align-content: center;

    /* margin: 22px 32px 20px; */
    justify-content: center;
    width: 100%;
    gap: 16px;
    height: 40px;
    background: transparent;
    left: 591px;
    top: 16px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .menu li a:hover {
    color: #36b37f;
    text-decoration: underline;
  }

  .works-cards,
  .about-me-item-list {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 150px;
    gap: 24px;
  }

  #supporting-text {
    width: 55vw;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #172b4d;
  }

  .headline p#about-me-paragraph {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
    margin: auto 20vw;
  }

  .about-me-intro {
    background: url('../assets/images/illustration-about-me-desktop.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin-bottom: 0;
  }

  .headline#headline-intro {
    background: url('../assets/images/header-llustration-desktop@2x.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }

  .contact-form {
    margin: 188px 0 0;
    background: url('../assets/images/illustration-contact-form-2-desktop.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 0 174px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    flex-shrink: 2;
  }

  #contact-header-message {
    margin-top: 60px;
    font-size: 30px;
    flex-shrink: 3;
  }

  #hello-message {
    margin-top: 250px;
  }

  #indicator,
  #my-email,
  #footer-image {
    display: none;
  }

  #collapse-action-button {
    margin: 30px auto 495px;
  }

  #resume-button {
    margin-bottom: 30px;
  }

  #desktop-footer-image {
    display: inline;
    visibility: visible;
    width: 100%;
    margin: 0 auto 17px;
  }

  #footer-contacts-social-media-icons {
    margin: 0 auto 0;
  }

  #contacts-social-media-icons li {
    background-size: 100% 100%;
  }

  #contact-form #error-message {
    margin-bottom: 237px;
    color: red;
    font-size: 24px;
    font-weight: 700;
  }

  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: 55vw;
    }
  }

  #about-me .primary-header {
    margin: 68px auto 24px;
    font-weight: 800;
    font-size: 48px;
  }

  #recent-works .primary-header {
    margin: 52px auto;
  }

  #project-detail-id.active {
    visibility: visible;
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin: auto;
    flex: 1 1 auto;
  }

  .project-details-container {
    display: flex;
    flex-direction: column;
    background: white;
    width: 70%;
    height: auto;
    margin: auto;
    padding: 16px;
    gap: 20px;
    border-radius: 16px;
    border: 1px solid #dfe1e6;

    /* flex: 1 1 auto; */
  }

  .project-detail-bottom-goup-mobile {
    display: none;
  }

  .project-detail-bottom-goup-desktop {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 16px;
    flex-wrap: nowrap;
    flex-shrink: 5;
  }

  #project-detail-id .project-detail-bottom-goup-desktop {
    margin: 0;
  }

  .project-detail-bottom-goup-desktop .detail-button {
    min-width: 150px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
  }

  .project-detail-headline h1 {
    flex-shrink: 7;
  }

  .project-details-container img {
    width: 100%;
    height: auto;
  }

  .project-detail-bottom-goup-desktop .detail-button img {
    height: 16px;
    width: 16px;
    margin-left: 8px;
  }
}
